<ActionBar class="action-bar page">
    <Label class="action-bar-title" text="Tela Principal"></Label>
</ActionBar>


    <StackLayout class="p-30">
        <Label text="Bem-vindo ao (APPNAME)" class="h2 text-center"></Label>
    
        <Label text="Para visualizar o cardapio e fazer seu pedido" class="text-center h3 p-t-20"></Label>
        <Label text="leia o codigo QR disponivel em sua mesa" class="text-center h3 p-b-30"></Label>
        <Button text="Ler codigo QR" (tap)="onScan()" class="btn btn-primary btn-active"></Button> 
    </StackLayout>

